<form method="POST" action="/recipes">
  <label>Name:<input type="text"></label>
  <label>Ingredients:<input type="text"></label>
  <label>Cook_time:<input type="text"></label>
  <input type="submit" value="Put it in">
</form>